/* Remove the navbar's default margin-bottom and rounded borders */ 
$search-height: 50px;
$blue: #0084b4;
$blue_l: #1dcaff;
$dark: rgb(100,100,100);

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  height: $search-height+5;
  border: 0;
  border-top: 4px solid $dark;

  #search {
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    line-height: 25px;
    height: $search-height;
    font-size: 25px;
    padding-left: 30px;
    box-shadow: 0 0 7px 0 $blue inset;
    border: 0;
  }

  #searchButton {
    height: $search-height;
    right: 0;
    position: absolute;
    width: 60px;
    background: $blue;
    border-radius: 0;
    text-align: center;

    span.glyphicon {
      font-size: $search-height*0.6;
      color: white;
    }
  }

  .dropdown-menu {
    width: 100%;
    padding: 0;
    border-radius: 0;
    margin-top: 0;

    li {
      width: 50%;
      display: inline-block;
      font-size: 17px;

      &.active a{
        box-shadow: 0 0 7px 0 rgb(100,100,100) inset;
      }

      &:before {
        content: '@';
        display: inline;
        position: absolute;
        line-height: 30px;
        padding-left: 4px;
        font-weight: bold;
      }
      &.active:before {
        color: white;
      }
    }
  }
}

.container {
  width: 100%;
  padding: 0;//15px;

  .graph {
    position: relative;
    max-height: 300px;

    &.other-personal {
      padding: 0;
    }
  }

  .table-personal {
    background: white;
    padding: 20px;

    &.left {
      border-right: 2px solid rgb(50,50,50);
    }

    #similarBySentiment, #similarBySubjectivity {
      width: 100%;

      table {
        width: 100%;

        thead th {
          background: $dark;
          color: white;
        }

        th {
          text-align: center;
        }
      }
    }
  }
}

/* Add a gray background color and some padding to the footer */
footer {
  position: relative;
  .slogan {
    display: none;
    line-height: 50px;
    font-size: 40px;
    color: white;
    font-style: italic;
    padding: 10px;
    text-align: center;
    font-weight: normal;
    background: rgb(50,50,50);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    font-weight: normal;
  }

  background-color: $blue;
  color: white;
  font-weight: bold;
  padding: 25px;

  .footer-logo-wrapper {
    margin-top: 35px;
    margin-bottom: 30px;
    display: inline-block;
    width: 19%;
    padding: 15px;
    text-align: center;

    img {
      max-width: 100%;
      max-height: 120px;
      display: inline-block;
    }
  }
  .signature {
    font-size: 12px;
    background: rgb(50,50,50);
    padding: 3px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: normal;
    line-height: 23px;
  }
}

#topCarousel {
  height: 250px;
  background: rgb(20,20,20);

  .cloud9-item {
    height: 300px;
    box-shadow: 2px 2px 20px 2px rgba(100,100,100,0.7);
    border: 12px solid rgba(255,255,255,0.9);

    &:after{
      content: 'Hey, deep quote! Mind you. Veeeery deep. Bigly beats all other quotes. Tremendous.';
      width: 100px;
      height: 100px;
      color: white;
    }
  }

  &:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    content: "We'll build a webapp. And we'll make AWS pay for it!";
    z-index: 10000;
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    padding-top: 60px;
    line-height: 60px;
    /*font-style: italic;*/
    font-family: 'Courier New';
    text-shadow: 0px 0px 15px rgba(0,0,0,1.0);
  }
}
$row-height: 300px;
.profile-row{
  /*height: $row-height;*/

  .profile {
    height: 300px;
    padding: 20px;
    text-align: center;
    background: $blue_l;

    img.image {
      max-width: 60%;
      margin-bottom: 20px;
    }

    .nickname {
      width: 100%;
      color: white;
      font-weight: bold;
      font-style: italic;
    }
    .normal_name {
      width: 100%;
      color: white;
      font-weight: bold;
    }
  }
}

.stats-row {
  .table-stats {
    padding: 20px;

    &.left {
      border-right: 2px solid rgb(50,50,50);
    }

    th {
      text-align: center;
    }

    thead th {
      background: $dark;
      color: white;
    }
  }
}

.bar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00f000+0,dcff00+54,ff0000+100 */
  background: #00f000; /* Old browsers */
  background: -moz-linear-gradient(top, #00f000 0%, #dcff00 54%, #ff0000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #00f000 0%,#dcff00 54%,#ff0000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #00f000 0%,#dcff00 54%,#ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f000', endColorstr='#ff0000',GradientType=0 ); /* IE6-9 */
  width: 20px;
  display: inline-block;
  height: 300px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.divider {
  height: 50px;
  background: $blue;
}

#carousel .cloud9-item, #buttons button {
  cursor: pointer;
}


/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}


@media (min-width: 768px) {
  #searchForm {
   
    .dropdown-menu {

      li {
        width: 25%;
      }
    }
  }
}

@media (min-width: 1200px) {
  #searchForm {
   
    .dropdown-menu {

      li {
        width: 12.5%;
      }
    }
  }
}
