/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  height: 55px;
  border: 0; }
  .navbar #search {
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    line-height: 25px;
    height: 50px;
    font-size: 25px;
    padding-left: 30px;
    box-shadow: 0 0 7px 0 #0084b4 inset;
    border: 0; }
  .navbar #searchButton {
    height: 50px;
    right: 0;
    position: absolute;
    width: 60px;
    background: #0084b4;
    border-radius: 0;
    text-align: center; }
    .navbar #searchButton span.glyphicon {
      font-size: 30px;
      color: white; }
  .navbar .dropdown-menu {
    width: 100%;
    padding: 0;
    border-radius: 0;
    margin-top: 0; }
    .navbar .dropdown-menu li {
      width: 50%;
      display: inline-block;
      font-size: 17px; }
      .navbar .dropdown-menu li.active a {
        box-shadow: 0 0 7px 0 #646464 inset; }
      .navbar .dropdown-menu li:before {
        content: '@';
        display: inline;
        position: absolute;
        line-height: 30px;
        padding-left: 4px;
        font-weight: bold; }
      .navbar .dropdown-menu li.active:before {
        color: white; }

.container {
  width: 100%;
  padding: 0; }
  .container .graph {
    position: relative; }
    .container .graph.other-personal {
      padding: 0; }

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #0084b4;
  color: white;
  font-weight: bold;
  padding: 25px; }

#topCarousel {
  height: 250px;
  background: #141414; }
  #topCarousel .cloud9-item {
    height: 300px;
    box-shadow: 2px 2px 20px 2px rgba(100, 100, 100, 0.7);
    border: 12px solid rgba(255, 255, 255, 0.9); }
    #topCarousel .cloud9-item:after {
      content: 'Hey, deep quote! Mind you. Veeeery deep. Bigly beats all other quotes. Tremendous.';
      width: 100px;
      height: 100px;
      color: white; }

.profile-row {
  height: 300px; }
  .profile-row .profile {
    height: 100%;
    padding: 20px;
    text-align: center;
    background: #1dcaff; }
    .profile-row .profile img.image {
      max-width: 60%;
      margin-bottom: 20px; }
    .profile-row .profile .nickname {
      width: 100%;
      color: white;
      font-weight: bold;
      font-style: italic; }

.bar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00f000+0,dcff00+54,ff0000+100 */
  background: #00f000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #00f000 0%, #dcff00 54%, #ff0000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #00f000 0%, #dcff00 54%, #ff0000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #00f000 0%, #dcff00 54%, #ff0000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f000', endColorstr='#ff0000',GradientType=0 );
  /* IE6-9 */
  width: 20px;
  display: inline-block;
  height: 300px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10; }

.divider {
  height: 40px;
  background: #0084b4; }

#carousel .cloud9-item, #buttons button {
  cursor: pointer; }

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; } }
@media (min-width: 768px) {
  #searchForm .dropdown-menu li {
    width: 25%; } }
@media (min-width: 1200px) {
  #searchForm .dropdown-menu li {
    width: 12.5%; } }

/*# sourceMappingURL=styles.css.map */
